.DS_Store
/.bundle
/bundle.js.map
/bundle.js
/config/keys_dev.js
/config/keys.js

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore uploaded files in development
/storage/*
!/storage/.keep

/node_modules
/yarn-error.log

/public/assets

# Ignore master key for decrypting credentials and more.
/config/master.key
